<html>
<head>
    <link rel="stylesheet" href="./style.css"/>
    <title>Message</title>
</head>
<body>
<p><%= messageObj.user %></p>
<p><%= messageObj.text %></p>
<p><%= messageObj.added %></p>

</body>
</html>