nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  & ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
}

.messages {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
}
